
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
}

body{
    background-image: url(./tela-login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


}

.container {
    display: flex;
    justify-content: center;

    width: 100%;

    left: 50%;
    right: 50%;
    position: relative;
    transform: translate(-50%, 10%);
  

}

/* CAIXA DE LOGIN */

.login-box {
    background-color: #D5CECA95;
   
   
    border-radius: 15px;
    box-shadow: 3px 3px 1px 0px #00000050;

    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;


    
}

/* FOTO DO PERFIL */

.foto-perfil {
    background-image: url(./icone2.png);
    position: relative;

    left: 50%;
    right: 50%;

    width: 133px;
    height: 131px;

   transform: translate(-50%);
   margin-bottom: 30px;
   opacity: 0.8;

}

/* TITULO ENTRAR */
h1 {
    text-align: center;
    color: #153540;
    margin-bottom: 30px;
}

/* NAO TEM UMA CONTA? CADASTRE-SE */

p {
    text-align: center;
    color: #153540;
    font-weight: bold;
    margin-top: 20px;

}

/* CADASTRE-SE */

a{ 
    text-decoration: none;
    cursor: pointer;
}

#cadastre-se {
    color: #061522;

}

/* LINHA */

hr {
    width: 100%;
    height: 2px;
    background-color:#215466;
    border: 0;
    margin-top: 15px;
}

/* USERNAME E PASSWORD */

input {
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    color: #215466;
    

    left: 50%;
    right: 50%;
    position: relative;
    transform: translate(-50%);

    margin-bottom: 5px;
    border-radius: 6px;
}


.user input, .password input {
    width: 100%;
    
    padding: 5px 5px;
    display: inline-block;
    background-color: transparent;
    outline: none;
    font-size: 16px;
    border-radius: 0;
}

.user, .password {
    color: #272262;
    margin-bottom: 20px;
  
}

.user input:focus, .password input:focus{
    border-bottom: 2px solid #215466;
    transition: all 0.2s ease-out;
}


/* ENTRAR */

.entrar input {
    border: 2px solid #215466;
    margin-top: 5px;
    background-color: transparent;
    font-size: 15px;
}

.entrar input:hover {
    background-color: #215466;
    transition: all 0.3s ease-out;
    color: #D5CECA95;
    cursor: pointer;
}
